<?php
$this->headTitle('Delete User');
?>

<h1>Delete User</h1>

<p>Are you sure you want to delete <?= $this->user->full_name ?> ?</p>

<form method="POST" action="<?= $this->url('user', ['action' => 'delete', 'id' => $this->id]) ?>">

    <input type="hidden" name="id" value="<?= $this->user->id ?>"/>
    <input type="submit" class="btn btn-default" name="del" value="Yes"/>
    <input type="submit" class="btn btn-default" name="del" value="No"/>

</form>