<?php
$this->headTitle('User List');
?>

<?php if ($this->flashMessenger()->hasMessages()): ?>
    <div class="alert alert-success">
        <?php foreach ($this->flashMessenger()->getMessages() as $msg) : ?>
            <p><?= $msg ?></p>
        <?php endforeach; ?>
    </div>
<?php endif; ?>

    <h1>User Lists</h1>

    <p><a href="<?= $this->url('user', ['action' => 'add']) ?>">Add User</a></p>

    <table class="table">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>full_name</th>
            <th>email</th>
            <th>phone_number</th>
            <th>address</th>
            <th></th>
        </tr>

        <?php foreach ($paginator as $value): ?>
            <tr>
                <td><?= $value->id ?></td>
                <td><?= $value->username ?></td>
                <td><?= $value->full_name ?></td>
                <td><?= $value->email ?></td>
                <td><?= $value->phone_number ?></td>
                <td><?= $value->address ?></td>
                <td>
                    <a href="<?= $this->url('user', ['action' => 'edit', 'id' => $value->id]) ?>">Edit</a>
                    <a href="<?= $this->url('user', ['action' => 'delete', 'id' => $value->id]) ?>">Delete</a>
                </td>
            </tr>
        <?php endforeach; ?>

    </table>


<?= $this->paginationControl($this->paginator, 'sliding', 'partial/paginator.phtml', ['route' => '']); ?>